@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;
@light-bg: #9999C2;
@my-pink: #9999C2;

header {
  color: @light-blue;
}

#hero {
	background-color: @my-pink;
	.container {
		text-align: center;
		padding-bottom: 70px;
		padding-top: 80px;
		.h1{
			color: @light-blue;
		}
	}
	nav {
		background-color:@my-pink; 
	}
}
